/*BEGIN PS4 Controller Styling*/






.controller.ds4{
    background-image: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Base.png);
    position: absolute;

    width: 1864px;
    height: 1382px;
    background-repeat:no-repeat;
}



.ds4.disconnected { 
    background: none;
}



.ds4.disconnected div {
    display: none;
}


.ds4 .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 


.ds4 .trigger{
    height: 2675px;
    width: 3360px;

    background-repeat:no-repeat;
}


.ds4 .trigger.left{ 
    left: 140px;
    top: 0px;
    width: 217px;
    height: 201px;
    z-index: 37;
    background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/L2.png);
    position: absolute;
    background-repeat:no-repeat;
}
.ds4 .trigger.right{
    left: 1309px;
    top: 0px;
    width: 218px;
    height: 200px;
    z-index: 38;
    background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/R2.png);
    position: absolute;
    background-repeat:no-repeat;
}


.ds4 .bumper{
    opacity: 0;
    }
    
    .ds4 .bumper.pressed{ 
        opacity: 1;
    }
    
    .ds4 .bumper.right{
        left: 1300px;
        top: 140px;
        width: 247px;
        height: 46px;
        z-index: 40;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/L1.png);
        position: absolute;
        background-repeat:no-repeat;
    }




    .ds4 .bumper.left{
        left: 115px;
        top: 130px;
        width: 247px;
        height: 45px;
        z-index: 39;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/L1.png);
        position: absolute;
        background-repeat:no-repeat;
    }
    
    .ds4 .arrows{
        position: absolute;
        width: 205px;
        height: 19px;
        top: 250px;
        left: 291px;
        background-repeat:no-repeat;
    }



    .ds4 .back{
        opacity: 0;
        position: absolute;
    }
    
    .ds4 .start{
        opacity: 0;
        position: absolute;
    }


    .ds4 .back.pressed{
        left: 200px;
        top: 85px;
        width: 70px;
        height: 121px;
        z-index: 42;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Share.png);
        position: absolute;
        opacity: 1;
    }

    .ds4 .start.pressed{
        left: 1030px;
        top: 85px;
        width: 70px;
        height: 121px;
        z-index: 43;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Options.png);
        opacity: 1;
    }

    .ds4 .abxy{
        /* width: 340px;
        height: 242px;
        top: 159px;
        left: 2000px; */
        position: absolute;
        background-repeat:no-repeat;
        
    }
    
    .ds4 .button{
        position: absolute;
        width: 1px;
        height: 1px;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/face.png);

    }
    
    .ds4 .button.pressed{
        background-position-y: -00px;
        margin-top: 0px;
    }

    .ds4 .a.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/X.png); 
        left: 930px;
        top: 515px;
        width: 136px;
        height: 137px;
        opacity: 1;
        background-repeat:no-repeat;
    }

    .ds4 .b.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Circle.png);
        left: 1075px;
        top: 370px;
        width: 137px;
        height: 137px;
        z-index: 49;
        background-repeat:no-repeat;
    }

    .ds4 .x.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Square.png); 
        left: 785px;
        top: 370px;
        width: 136px;
        height: 137px;
        z-index: 51;
        background-repeat:no-repeat;
    }


    .ds4 .y.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Triangle.png) ; 
        left: 930px;
        top: 225px;
        width: 139px;
        height: 137px;
        z-index: 50;
        background-repeat:no-repeat;
    }

    .ds4 .meta.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/PS_Button.png) ; 
        left: 890px;
        top: 825px;
        width: 104px;
        height: 100px;
        z-index: 54;
        background-repeat:no-repeat;
    }

    .ds4 .sticks{    
        left: 334px;
        top: 498px;
        position: absolute;
        background-repeat:no-repeat;
    }
    
    .ds4 .stick.pressed.left{
        position: absolute;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/L3.png);
        left: 158px;
        top: 260px;
        width: 241px;
        height: 240px;
        z-index: 52;
        background-repeat:no-repeat;
    }

    .ds4 .stick.pressed.right{
        position: absolute;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/R3.png);
        left: 810px;
        top: 265px;
        width: 241px;
        height: 240px;
        z-index: 53;
        background-repeat:no-repeat;
    }
    
    .ds4 .stick.left{
        position: absolute;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/LS.png);
        left: 158px;
        top: 260px;
        width: 241px;
        height: 240px;
        z-index: 52;
        background-repeat:no-repeat;
    }
    
    .ds4 .stick.right{
        position: absolute;
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/RS.png);
        left: 810px;
        top: 265px;
        width: 241px;
        height: 240px;
        z-index: 53;
        background-repeat:no-repeat;
    }


    .ds4 .dpad{
        left: 0px;
        top: 0px;
        width: 338px;
        height: 343px;
        z-index: 57;
        background-repeat:no-repeat;
    }
    
    .ds4 .face{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Dpad.png);
        position: absolute;
    }

    .ds4 .face.right.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Right.png); 
        left: 340px;
        top: 530px;
        width: 395px;
        height: 219px;
        z-index: 56;
        background-repeat:no-repeat;
    }
    
    .ds4 .face.left.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Left.png); 
        left: 145px;
        top: 530px;
        width: 148px;
        height: 120px;
        z-index: 45;
        background-repeat:no-repeat;
    }
    
    .ds4 .face.up.pressed{
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Up.png); 
        left: 250px;
        top: 425px;
        width: 116px;
        height: 150px;
        z-index: 44;
        background-repeat:no-repeat;
    }
    
    .ds4 .face.down.pressed{ 
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/Down.png); 
        left: 250px;
        top: 610px;
        width: 117px;
        height: 150px;
        z-index: 47;
        background-repeat:no-repeat;
    }
    .ds4 .touchpad.pressed{
        position:absolute;
        left: 600px;
        top: 280px;
        width: 675px;
        height: 385px;
        z-index: 41;
    
        background: url(https://dxdeathstrike.github.io/GamePadViewer/Cherry%20Blossom/TouchPad.png);
        background-repeat:no-repeat;
    }

/*END PS4 Controller Styling*/
    